:root {
  /* TenoxUI v0.4.25 Below */
  --full: stretch;
  --col: column;
  --fxs: flex-start;
  --fxe: flex-end;
  --flex-start: var(--fxs);
  --flex-end: var(--fxe);
  --sb: space-between;
  --tx_s-b: space-between;
  --sa: space-around;
  --se: space-evenly;
  --row-rev: row-reverse;
  --col-rev: column-reverse;
  --wrap-rev: wrap-reverse;
  --repeat-x: repeat-x;
  --repeat-y: repeat-y;
  --x-repeat: repeat-x;
  --y-repeat: repeat-y;
  --no-repeat: no-repeat;
  --ib: inline-block;
  --i-fx: inline-flex;
  /* tenoxui v0.4.26 or higher */
  --tx_video: 16/9;
  --tx_poster: 3/4;
  --tx_avoid-page: avoid-page;
  --tx_border-box: border-box;
  --tx_content-box: content-box;
  --tx_padding-box: padding-box;
  --tx_avoid-column: avoid-column;
  --tx_inline-start: inline-start;
  --tx_inline-end: inline-end;
  --tx_inline-block: inline-block;
  --tx_inline-flex: inline-flex;
  --tx_inline-grid: inline-grid;
  --tx_inline-table: inline-table;
  --tx_list-item: list-item;
  --tx_scale-down: scale-down;
  --tx_left-bottom: left bottom;
  --tx_left-top: left top;
  --tx_right-bottom: right bottom;
  --tx_right-top: right top;
  --tx_min-content: min-content;
  --tx_fit-content: fit-content;
  --tx_max-content: max-content;
  --tx_line-through: line-through;
  --tx_text-top: text-top;
  --tx_text-bottom: text-bottom;
  --tx_break-all: break-all;
  --tx_break-word: break-word;
  --tx_keep-all: keep-all;
  --tx_row-rev: row-reverse;
  --tx_col-rev: column-reverse;
  --tx_wrap-rev: wrap-reverse;
  --tx_fx-start: flex-start;
  --tx_fx-end: flex-end;
  --tx_s-between: var(--sb);
  --tx_s-around: space-around;
  --tx_s-evenly: space-evenly;
  --tx_right-top: right top;
  --tx_right-bottom: right bottom;
  --tx_left-top: left top;
  --tx_left-bottom: left bottom;
  --tx_line-through: line-through;
  --tx_pre-line: pre-line;
  --tx_pre-wrap: pre-wrap;
  --tx_break-spaces: break-spaces;
  --tx_border-box: border-box;
  --tx_content-box: content-box;
  --tx_padding-box: padding-box;

  --tx_font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tx_font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --tx_font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --tx_default: "Aku Sayang Zeta :)";
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
