@font-face {
  font-family: tx-icon;
  src: url("fonts/tx-icon.eot?ma0ni9");
  src: url("fonts/tx-icon.eot?ma0ni9#iefix") format("embedded-opentype"),
    url("fonts/tx-icon.ttf?ma0ni9") format("truetype"),
    url("fonts/tx-icon.woff?ma0ni9") format("woff"),
    url("fonts/tx-icon.svg?ma0ni9#tx-icon") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
.txi {
  font-family: "tx-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ti-vtx_part_1:before {
  content: "\e901";
}
.ti-vtx_part_2:before {
  content: "\e900";
}
.ti-vantenox:before {
  content: "\e971";
}
.ti-vtx-thin:before {
  content: "\e972";
}
.ti-vtx-solid:before {
  content: "\e973";
}
.ti-vtx-reverse:before {
  content: "\e974";
}
.ti-tenox:before {
  content: "\e91c";
}
.ti-tenox_v:before {
  content: "\e92d";
}
.ti-tenox_t:before {
  content: "\e92e";
}
.ti-tenox_solid:before {
  content: "\e92f";
}
.ti-twitter_x:before {
  content: "\e92c";
}
.ti-vuejs:before {
  content: "\e91e";
}
.ti-angular:before {
  content: "\e91f";
}
.ti-bootstrap:before {
  content: "\e920";
}
.ti-javascript:before {
  content: "\e921";
}
.ti-laravel:before {
  content: "\e922";
}
.ti-nextjs:before {
  content: "\e923";
}
.ti-reactjs:before {
  content: "\e924";
}
.ti-tailwindcss:before {
  content: "\e925";
}
.ti-tiktok:before {
  content: "\e926";
}
.ti-twitter:before {
  content: "\e903";
}
.ti-telegram:before {
  content: "\e904";
}
.ti-github:before {
  content: "\e905";
}
.ti-facebook_logo:before {
  content: "\e906";
}
.ti-discord:before {
  content: "\e907";
}
.ti-controller:before {
  content: "\e908";
}
.ti-web:before {
  content: "\e9c9";
}
.ti-facebook_solid:before {
  content: "\ea91";
}
.ti-instagram:before {
  content: "\ea92";
}
.ti-whatsapp:before {
  content: "\ea93";
}
.ti-youtube:before {
  content: "\ea9d";
}
.ti-deviantart:before {
  content: "\eaaa";
}
.ti-github_square:before {
  content: "\eab0";
}
.ti-linkedin:before {
  content: "\eac9";
}
.ti-pinterest:before {
  content: "\ead1";
}
.ti-html:before {
  content: "\eae4";
}
.ti-css:before {
  content: "\eae6";
}
