<!DOCTYPE html>
<html>
  <head>
    <title>NSX Design Workspace v2</title>
    <!-- all styles -->
    <link rel="stylesheet" href="/src/css/fonts.css" />
    <link rel="stylesheet" href="/src/css/color.css" />
    <link rel="stylesheet" href="/src/css/global.css" />
    <link rel="stylesheet" href="/src/css/google-icons.css" />
    <link rel="stylesheet" href="/src/icons/all.css" />
    <!-- tenoxui -->
    <script src="/src/js/tenoxui/v0.7/tenoxui.min.js"></script>
  </head>
  <body class="bg-neutral-900 text-neutral-100 ff-lexend">
    <!-- Copy from here -->
    <div id="content" class="center relative w-600px h-200px bg-approve-900">
      <div class="center gap-1.5rem">
        <div class="relative center box-5rem">
          <i class="vic vi-icon-tenox_v fs-5rem absolute text-approve-400"></i>
          <i class="vic vi-icon-tenox_t fs-5rem absolute"></i>
        </div>
        <header>
          <h1>Design Workspace V2</h1>
          <p class="text-neutral-200">By NOuSantx</p>
        </header>
      </div>
    </div>
    <!-- end of copy -->

    <!-- script -->
    <!-- color generator -->
    <script src="/src/js/color.js"></script>
    <script src="/src/js/styles.js"></script>
    <script>
      tenoxui();
    </script>
  </body>
</html>
